.DialogsContent {
  display: grid;
  grid-template-columns: 2fr 10fr;

}

.formControl.error {
    border: solid red 2px;
}


.formSummeryError {
    border: solid red 2px;
    padding: 5px;
    color: red;
}